.btn {
  border-radius: 0;
}

.btn-transparent {
  background-color: transparent;
  color: lightgray;
}

.btn-menu {
  border: none;
  border-radius: 0;
  letter-spacing: 1px;
  transition-duration: 1s;
}

.btn-menu:active,
.btn-menu:focus {
  outline: none;
}

.btn-menu:hover {
  /*background: radial-gradient(rgba(178, 178, 178, 0.46), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  text-shadow: 0 0 15px white;*/
  background: radial-gradient(rgba(146, 237, 124, 0.46), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  color: white;
  transition-duration: .6s;
}

.modal-header {
  text-align: center;
  border-bottom: 1px solid rgba(229, 229, 229, 0.51);
}

.modal-dialog {
  background-color: transparent;
}

.modal-content {
  background-color: rgba(86, 86, 86, 0.46);
  border-radius: 0;
  color: white;
}

.modal-body {
  padding: 30px;
  display: flex;
}

.modal-body .half-panel {
  width: 50%;
}

.modal-body h2 {
  margin-top: 0;
}

.modal-row {
  height: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.modal-row .text {
  height: 100%;
  display: inline-block;
  text-align: right;
  width: 120px;
}

.modal-row .slider {
  margin-top: 4px;
  display: inline-block;
  text-align: right;
  width: 120px;
}


.modal-row .text::after {
  margin-left: 10px;
  margin-right: 10px;
/*  content: "|";*/
  content: "";
}

.modal-row .btn {
  height: 100%;
  width: 100px;
  padding: 0;
  border: none;
  opacity: .7;
}

.modal-row .btn + .btn {
  margin-left: 20px;
}

.modal-row .btn:active,
.modal-row .btn:focus,
.modal-row .btn.focus {
  background-color: #e6e6e6;
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, .3);
  outline: 0;
}

.modal-row input.number {
  width: 50px;
  background-color: white;
  color: black;
}

.modal-row div + div {
  margin-left: 10px;
}

.help {
  display: inline;
}

.lose-screen {
  height: 60vh;
  width: 100%;
}

.lose-screen .lose-text {
  position: relative;
  top: calc(50% - 45px);
  text-align: center;
  font-size: 90px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgb(190, 0, 0);
  text-shadow: 0px 0px 18px black;
}

.title-img {
  content: url(../assets/images/voiceless_title.png);
  max-width: 909px;
  width: 100%;
  margin: auto;
}

.menu {
  margin-top: 20px !important;
}

#graphics {
  opacity: .3;
}
#cu-msg {
  color: darkred;
}
